@import '../../styles/variables';

.tech-rectangle {
  padding: 41px 47px;
  background: $off-black;
  box-shadow: 4px 9px 17px rgba(18, 23, 31, 0.28);
  border-radius: 16px;

  .image-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 157px;
    height: 76px;

    h1 {
      color: $off-white;
    }
  }
}