@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');
@import '../../styles/variables';

#crop {
  width: 100%;
  height: 40vw;
  overflow: hidden;
}

#radar-container {
  width: 100%;
  height: 100%;
  position: relative;

  #titles {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;

    h1, h2 {
      color: $off-white;
    }

    h2 {
      text-transform: uppercase;
    }

    h1 {

    }
  }

  #background {
    position: relative;
    width: 100%;
    height: 100%;
    background: #232932;

    img {
      z-index: 1;
      position: absolute;
      width: 3%;
    }

    #at {
      top: 60%;
      left: 40%;
    }

    #sound {
      top: 50%;
      left: 20%;
    }

    #facebook {
      top: 35%;
      left: 35%;
    }

    #connection {
      top: 40%;
      left: 45%;
    }

    #messenger {
      top: 35%;
      left: 50%;
    }

    #social {
      top: 40%;
      left: 60%;
    }
  }
}


#radar-parent {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vw;
  overflow: hidden;

  transform: matrix(1, 0, 0, -1, 0, 0);
  filter: blur(8px);
  //backdrop-filter: blur(18px);

  #radar {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;

    animation: sweep 4s infinite linear;
    background: conic-gradient(from 180deg at 50.1% 47.34%, #69FE8B 0deg, rgba(35, 41, 50, 0) 69.37deg, rgba(35, 41, 50, 0) 346.88deg, #69FE8B 360deg);
    opacity: 0.6;
  }
}

@keyframes sweep {
  to {
    transform: rotate(-360deg);
  }
}