@import '../../styles/variables';

#radar-page {
  padding: 102px $page-padding 0;
  width: calc(100vw - calc($page-padding * 2));
}
.progress-bar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: $main-green;
  transform-origin: 0%;
}
