@import '../../styles/variables';
#carousel-main-div {
  display: flex;
  width: 200vw;
  margin-left: -10vw;
  margin-bottom: 30px;

  .carousel-div {
    width: 100vw;
    display: inline-block;
    justify-content: space-evenly;
    animation: gridLoop 30s linear infinite;

    .carousel-grid {
      display: grid;
      justify-content: space-around;
      grid-template-columns: repeat(auto-fit, 250px);

      .carousel-item {
        border-radius: 16px;
        color: white;
        width: 250px;
        height: 250px;
        background-position: center;
        background-size: cover;

        .tech-rectangle {
          padding: 0px;
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@keyframes gridLoop {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes gridLoopReverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
