@import '../../styles/variables';

#main-wrapper-btn {
  background-color: $off-black;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  padding: 20px;
  height: 170px;
  overflow: hidden;
  flex-basis: 20%;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 32px 0px rgba(105, 254, 139, 0.15);
  }

  #title-btn {
    height: auto;
    position: relative;
    margin-top: 20px;
    color: $off-white;
    font-size: 50px;
    line-height: 50px;
    z-index: 1;
    width: 40%;

    //display: inline;
  }

  #img-btn {
    filter: invert(13%) sepia(24%) saturate(529%) hue-rotate(177deg)
      brightness(94%) contrast(91%);
  }
  #arrow {
    height: 3px;
    width: 30px;
    background-color: $main-green;
    position: absolute;
    bottom: 40px;

    border-radius: 1.5px;
  }
}
