@import '../../styles/variables';

#statsParent {
    
    padding: 20px 0px;
    width: 100%;
  //  width: 100vw;
    background-color: $main-green;
    #stats-wrapper{
        width: 100vw;
        height: 100%;
        background-color: $main-green;
    }
    #stats-container{
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        margin: auto;

        .flexBox {
            align-items: center;
            display: flex;
            flex: 1;
           // max-width: 220px;
            justify-content: space-between;

            .stat-text{
                margin-right: 10px;
                
                display: inline;
            }
            .stat-num{
                
            }
        }
    }
    }
    
