@import '../../styles/variables';

#statsParent {
  padding: 20px $stats-padding;
  background-color: $main-green;
  position: relative;
  width: calc(100vw - calc($stats-padding * 2));
  left: calc(-50vw + 50%);
  #stats-wrapper {
    background-color: $main-green;
  }
  #stats-container {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin: auto;

    .flexBox {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: space-between;

      .stat-text {
        margin-right: 10px;
        display: inline;
      }

      .stat-num {
      }
    }
  }
}
