@import '../../styles/variables';

#main-container {
  margin-top: 180px;
  width: calc(100vw - calc($page-padding * 2));
  padding: 0 $page-padding;
  #flex {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    #left-container {
      z-index: 1;
      width: 50%;
      #tech-title {
        color: $off-white;
        margin-bottom: 60px;
      }
      #tech-paragraph {
        margin-bottom: 60px;
        color: $off-white;
      }
      #tech-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 30px;
      }
    }
    #right-container {
      z-index: 0;
      width: 50%;
      position: absolute;
      right: 0;
     
      #tech-radar-gif {
       // width: 100%;
        position: relative;
        right: 20%;
      }
    }
  }
}
