@import '../../styles/variables';

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 48px $page-padding 150px $page-padding;
  width: calc(100vw - calc($page-padding * 2));

  #logo {
    display: flex;
    align-items: center;
    gap: 16px;

    h1 {
      text-transform: uppercase;
      color: $off-white;
    }
  }

  #navbar-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
