@import '../../styles/variables';

#main-wrapper-services-section {
  z-index: 1;
  margin-top: 180px;
  width: calc(100vw - calc($page-padding * 2));

  #services-title {
    color: $off-white;
    margin-bottom: 60px;
  }
  #services-wrapper {
    .services-paragraph-smaller {
      color: $off-white;

      @media (min-width: 1365px) {
        display: none;
      }
    }

    .service-cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 30px;

      .services-paragraph-bigger {
        color: $off-white;

        @media (max-width: 1365px) {
          display: none;
        }
      }
    }
  }
}
